name: Update json files

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron:  '0 14 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python Environment
        uses: actions/setup-python@v3
        with:
          python-version: 3.11

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Execute Python script
        run: |
          python fetch.py

      - name: setup git and commit
        run: |
          git config user.name ${{ secrets.USERNAME }}
          git config user.email ${{ secrets.EMAIL }}
          git add .
          git commit -m "Update json files"
          git push
